<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>To-Do List</title>
</head>
<body>
    <center>
        <font style="color: rgb(184, 9, 9);"><h1>ToDoo</h1></font>
    </center>
    <div class="container">
        <ul class="menu">
            <li><i>🔎</i>Search</li>
            <li><i>🌟</i>My Day</li>
            <li><i>📅</i>This Week</li>
            <li><i>🗓️</i>This Month</li>
            <li><i>💥</i>All Tasks</li>
        </ul>
    </div>
    
   
</body>
</html>