* {
    box-sizing: border-box;
}

body{
    background-color: #d9f0ff;
    margin-bottom: 400px;
    padding: 30px;
}

.header{
    color: #39a3be;
    padding: 10px;
    text-align: center;
  }
.column {
  float:  left;
  padding: 10px;
  width: 25%;
}
.column.middle {
    width: 50%;
  }

.sidebar{
    overflow: auto;
    float: left;
    width: 20%;
    padding: 15px;
    position: absolute;
    top: 140px;
    left: 10px;
    background-color: white;
    margin-left: 30px;
    border-radius: 30px;
}

h1{ 
    font-size: 60px;  
}

h2{
    font-size: 25px; font-family: Arial, sans-serif; color: #555; padding: 50px;
}

h3{ font-size: 30px; font-family: Arial, sans-serif; color: #39a3be; padding: 15px;
}

h4{ font-size: 20px; font-family: Arial, sans-serif; color:rgb(0, 77, 107)

}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
}

.menu li{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    color: rgb(0, 162, 255);
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 30px;
    background-color:#93d9eadd
    }

.menu li:hover{
    background-color: azure;
    border-radius: 20px;
    }

.menu li i {
    margin-right: 10px;
    font-size: 18px;
    }
    
.fit{
    min-width: auto;
    max-width: auto;
}

.progress-container {
    width: 30%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}

.progress-bar {
    height: 30px;
    width: 0px;
    background-color: #17f0ff;
    text-align: center;
    line-height: 30px;
    color: white;
    margin-right: auto;
    transition: width 0.5s;
}

a{
    color:#39a3be;
    text-decoration: none;
}

.task-list{
form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  input[type="text"],
  input[type="datetime-local"],
  select {
    width: 100%;           
    padding: 10px;    
    margin-bottom: 15px;   
    border: 1px solid #ccc; 
    border-radius: 4px;    
    font-size: 16px;       
    background-color: #fff;
  }
  

  input[type="text"]::placeholder {
    color: #aaa;         
    font-style: italic;   
  }
  

  select {
    font-size: 16px;       
  }
  

  button {
    width: 100%;           
    padding: 12px;         
    font-size: 18px;       
    background-color: #38d7ecf3; 
    color: #fff;           
    border: none;          
    border-radius: 4px;    
    cursor: pointer;       
    transition: background-color 0.3s ease; 
  }
  

  button:hover {
    background-color: #baf5ed;
  }
  

  form > * {
    margin-bottom: 15px;
  }
  

  form input, form select, form button {
    box-sizing: border-box;
  }
}
