* {
    margin: 0;
    
}

body{
    background-color: antiquewhite;
    padding: 30px;
}

.container2{
    background-color: rgb(255, 228, 196);
    border-radius: 15px;
    border-style: solid;
    border-color: crimson
    border-width: 15px;
    width: 250px;
    height: 1500px;
    padding: 20px; 
}

.menu li{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    color: rgb(0, 162, 255);
    cursor: pointer;
    transition: background-color 0.3s;
    }

.menu li:hover{
    background-color: azure;
    border-radius: 10px;
    }

.menu li i {
    margin-right: 10px;
    font-size: 18px;
    }
.fit{
    min-width: auto;
    max-width: auto;
}
h1{
    font-size: 50px;   
}

h2{
    font-size: 30px;
}